nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 54px 139px ;
}
.n_left > h1::first-letter{
    color: #FF6838;
}
.n_left > h1{
    color: #363853;
font-size: 33px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.65px;
}

.nn_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.n_center {
    display: flex;
    gap: 60px;
}
.n_center > a{
    color: #363853;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.n_right {
    display: flex;
    align-items: center;
    gap: 60px;
}
.n_right > button{
    color: white;
    padding: 14px 27px;
    border-radius: 5px;
background: var(--secondary, #FF7A50);
/* Clor shadow */
box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
}